/* row data */
.ant-table-tbody>tr>td {
  padding: 4px !important
}

.ant-table-summary>tr>td {
  padding: 4px !important
}


.ant-list {
  font-size: 13px !important;
}


.ant-form-item {
  margin-bottom: 8px !important
}

.listedit .ant-form-item {
  margin-bottom: 0px !important
}

.header-info {
  font-size: large;
  border: 2px solid;
  border-color: rgb(194, 224, 182);
  padding: 4px 15px;
  border-radius: 10px;
}